@font-face {
    font-family: 'DS-DIGI';
    src: url(DS-DIGI.TTF);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    background: #020a03;
    background-image: url(bg.png);
    background-size: 45vh;
}
h1{
    font-size: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    
    margin: 0 50%;
    font-family: 'DS-DIGI';
    color: #ffffff;
    margin-top: 3vh;
    margin-bottom: 2%;
    text-shadow: #2fcc08 0 1px 10px;
    cursor: default;
    transition: .5s;
}
h1:hover{
    scale: 1.2;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 2s;
    margin: 0 50%;
}

main img{
    height: 65vh;
    cursor: pointer;
    
    
    
}
main:hover{
    transform: rotate(90deg);
}

main:hover .relogio{
display: none;
}
main:hover .gif{
display: block;

}

.sobreposicao{
    position: relative;
   
}

.relogio{
    font-size: 7vh;
    font-family: 'DS-DIGI';
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: #259e07 0 1px 10px;
    cursor: pointer;
    display: inline;
    z-index: 1;
}


.gif{
    height: 12vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 1s;
}


.frase{
    text-align: center;
    font-size: 3.5vh;
    font-family: 'DS-DIGI';
    position: absolute;
    color: #ffffff;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: #2fcc08 0 1px 10px;
    cursor: default;
}

footer{ 
    text-align: center;
    font-size: 1.3vh;
    color: #fff;
    background-color: #000000;
    padding-bottom: 2vh;
    padding-top: 2vh;
    bottom: 0;
    position: fixed;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer a{
    color: #fff;
    text-decoration: none;
}